
.vs/vanderlande-api/FileContentIndex/822a168f-7b5e-47c3-836c-422b5ea02067.vsidx

.vs/vanderlande-api/FileContentIndex/84d4050f-33b5-406f-9b83-6b0e92a7ee6c.vsidx

.vs/vanderlande-api/FileContentIndex/b65fa5f5-92f4-4525-83a7-6c5db5ae900d.vsidx

.vs/vanderlande-api/FileContentIndex/ff10d2f0-8088-47cf-999f-af54146257e4.vsidx

.vs/vanderlande-api/FileContentIndex/b1a68637-c54a-4581-b68e-e4172ec65622.vsidx
/.vs/ProjectEvaluation/vanderlande-api.metadata.v9.bin
/.vs/ProjectEvaluation/vanderlande-api.strings.v9.bin
/.vs/ProjectEvaluation/vanderlande-api.projects.v9.bin
/.vs/vanderlande-api/DesignTimeBuild/.dtbcache.v2
/.vs/vanderlande-api/v17/.futdcache.v2
/.vs/vanderlande-api/v17/.suo
/.vs/vanderlande-api/v17/DocumentLayout.json
/.vs/vanderlande-api/v17/DocumentLayout.backup.json
/.vs/vanderlande-api/config/applicationhost.config
*.vsidx
